.button { 
    background-color: #101957;
    color: white;
}

.button:hover {
    background-color: #243396;
    color: white;
}

.card-description {
    font-size: 18px;
}

.card-title{
    font-size: 25px;
}

.card {
    margin-top: 30px;
}

.card-body {
    text-align: center;
}