.button { 
    background-color: #101957;
    color: white;
}

.button:hover {
    background-color: #243396;
    color: white;
}

.card-description {
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
}

.card-title{
    font-size: 25px;
}

.card {
    margin-top: 30px;
    box-shadow: 7px 7px 3px 7px #d5dbf2;
}

.card-body {
    text-align: center;
}