.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #d5dbf2;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    width: 15%;
    font-size: 15px;
}